<div class="border border-light p-5">
  <%= form_with(model: todo) do |form| %>
    <% if todo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

        <ul>
          <% todo.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.text_field :title, :placeholder => "Titel", class: "form-control", required: true %>

    <%= form.text_area :note, :placeholder => "Notiz", class: "form-control rounded-0", required: true %>

    <div>
      <%= form.check_box :done %>
      <%= form.label :done, value: "Erledigt" %>
    </div>

    <div>
      <%= form.date_select :expiration_date, class: "datepicker", required: true %>
    </div>


    <!-- Note: id must be implicitly given to the form, 'cause user and task are connected through the user's id -->
    <%= form.number_field :user_id, id: :todos_user_id, :value => current_user.id, type: :hidden %>

    <%= form.submit class: "btn btn-info btn-block" %>
  <% end %>
</div>
